
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Add Events</title>

    <br>
    <h1 style="padding-left:20px">Event Details</h1>
    <p style="padding-left:20px">Enter the details in Upper Case Letters</p>
  <div >
   <div >
    <div >

      <div style="padding: 15px">
        <form action="http://localhost:5000/verify4" method = 'POST'>
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Event Name" required name="name"><br>
	      <input class="w3-input w3-border" type="text" placeholder="Sport" required name="sport"><br>
           <input class="w3-input w3-border" type="text" placeholder="Date(yyyy-mm-dd)" required name="date"><br>
            <input class="w3-input w3-border" type="text" placeholder="Venue"required name="venue"><br>
            </div>
          </div><br>
          <button class="w3-button w3-red w3-section w3-centre" type="submit">INSERT</button>
        </form>
       
    </div>
  </div>
</div>
</div>

</body>
</html> 
