
<!DOCTYPE html>
<html>
<title>Cricket</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

<style>
body 
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("http://png.pngtree.com/thumb_back/fw800/back_pic/04/46/54/29585756d57d349.jpg");
    min-height: 75%;
    opacity: 0.3;
}
.menu {
    padding: 16px;
    display: none;
}
</style>
<body style="background-image: url(http://png.pngtree.com/thumb_back/fw800/back_pic/04/46/54/29585756d57d349.jpg ); width: 100%; height:20%;background-repeat: no-repeat; background-size: cover; back">

<div class="w3-top">
  <div class="w3-bar w3-black w3-card" >
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://localhost:5000/home" class="w3-bar-item w3-button w3-padding-large" >HOME</a>
    <a href="http://localhost:5000/gallery" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GALLERY</a>
    <a href="http://localhost:5000/achievements" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ACHIEVEMENTS</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="Sports">SPORTS<i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="http://localhost:5000/basketball" class="w3-bar-item w3-button">Basketball</a>
        <a href="http://localhost:5000/throwball" class="w3-bar-item w3-button">Throwball</a>
        <a href="http://localhost:5000/football" class="w3-bar-item w3-button">Football</a>
        <a href="http://localhost:5000/volleyball" class="w3-bar-item w3-button">Volleyball</a>
        <a href="http://localhost:5000/cricket" class="w3-bar-item w3-button">Cricket</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<div class="w3-content" style="max-width:2000px;margin-top:40px">

  <div class="w3-container w3-content w3-center w3-padding-32" style="max-width:800px"> 

  <h1 class="w3-wide"><bold><strong>CRICKET</strong></bold></h1>
     <table border style="padding: 10px;border:3px solid black;text-align: center;width: 100%;height: 50%;border-collapse: collapse; ">
      <p class="w3-justify" style="font-family:Inconsolata" style="font-size: 30px">"A TRUE BATSMEN SHOULD IN MOST OF HIS STROKES TELL THE TRUTH ABOUT HIMSELF!</p>

               <tr style="height:50px;border-bottom: 3px solid black;border-left: 3px solid black">
                <th ><bold>USN</bold></th>
                <th><bold>Name</bold></th>
                <th><bold>Year</bold></th>
               </tr>

	{% for row in result %}
                <tr style="height: 50px">
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
               </tr>
	{% endfor %}
         
      </table>



</body>
</html>
