
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Insert</title>


    <br>
    <h1 style="padding-left:20px">Details</h1>
    <p style="padding-left:20px">Please enter all the details in Upper Case letters</p>
  <div >
   <div >
    <div >

      <div style="padding: 15px">
        <form action="http://localhost:5000/verify1" method = 'POST'>
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="USN" required name="usn">
            </div>

          </div><br>
            <input class="w3-input w3-border" type="text" placeholder="Year (1/2/3/4)" required name="year"><br>
            <input class="w3-input w3-border" type="text" placeholder="Gender (M/F)" required name="gender"><br>
            <input class="w3-input w3-border" type="text" placeholder="Sports 1" required name="sports 1"><br>
            <input class="w3-input w3-border" type="text" placeholder="Sports 2 (OPTIONAL)" name="sports 2"><br>
            <input class="w3-input w3-border" type="text" placeholder="Sports 3 (OPTIONAL)" name="sports 3"><br>   
	    <input class="w3-input w3-border" type="text" placeholder="Achievement (DISTRICT/STATE/NATIONAL) (OPTIONAL)" name="achievement"><br>
          <button class="w3-button w3-red w3-section w3-centre" type="submit">REGISTER</button>
        </form>
       
    </div>
  </div>
</div>
</div>

</body>
</html> 
